{%- assign title = site.title | default: site.github.project_title -%}
{%- assign sitetime = site.time | date: '%s' -%}
{%- assign hash = site.github.build_revision | slice: 0, 7 -%}
{%- assign description = page.description | default: site.description | default: site.github.project_tagline -%}
{%- assign collection = page.collection -%}
{%- assign repo = site.github.public_repositories | where: "full_name", site.github.repository_nwo | first -%}
{%- assign id = repo.id -%}
{%- assign fork = repo.fork -%}
{%- assign pushed_at = repo.pushed_at | date_to_xmlschema -%}
{%- assign created_at = repo.created_at | date_to_xmlschema -%}
{%- assign language = page.language | default: site.language | default: "en" -%}
{%- assign direction = page.direction | default: site.direction | default: "ltr" -%}
{%- assign pagination = page.pagination -%}
{%- assign color_scheme = page.color_scheme | default: site.color_scheme | default: "dark" -%}