<!-- SINGLE STATES -->
<div class='ajax' aria-label='ajax'></div>
<div class='fullscreen' aria-label='fullscreen'></div>
<div class='fork' aria-label='fork'></div>
<!-- DUAL STATES -->
<div class='updated' aria-label='updated'></div>
<div class='behind' aria-label='behind'></div>
<div class='guest' aria-label='guest'></div>
<div class='admin' aria-label='admin'></div>
<div class='logged' aria-label='logged'></div>
<div class='online' aria-label='online'></div>
<div class='offline' aria-label='offline'></div>
<div class='blur' aria-label='blur'></div>
<div class='focus' aria-label='focus'></div>