.button, button,
input:is([type="submit"],[type="reset"],[type="button"],[type="color"],[type="email"]),
input:is([type="text"],[type="radio"],[type="date"],[type="datetime-local"],[type="number"]),
select, textarea,
nav a
  color-scheme: dark
  @extend .inline-block, .border-radius
  // Size
  padding: 0.4em 0.7em
  box-sizing: content-box
  // Font
  font-size: 1em
  line-height: 1em
  font-weight: 500
  text-decoration: none
  white-space: nowrap
  // Colors
  color: var(--fg)
  background-color: var(--bg-subtle)
  // BORDER
  border: 2px solid transparent
  // Mouse
  cursor: pointer
  // States
  &[type="submit"]
    color: var(--link)
  &[aria-current="true"],
  &[type="reset"]
    color: var(--fg-dim)
  &:hover
    text-decoration: none
    border-color: var(--bg-dim)
  &:active
    color: currentcolor
    background-color: transparent