tt, code, kbd, samp
  font-size: 90%
  font-family: var(--ff-code)
  letter-spacing: -.4px
  background: var(--ten)
  color: var(--dim-cyan)

// BLOCKS
// Fenced, kramdown, indented:
// div.highlighter-rouge > div.highlight > pre.highlight > code
// liquid:
// figure.highlight > pre > code
.highlight
  border-radius: 3px
  pre
    white-space: pre-wrap
    font-size: 90%
    padding: .3em .3em