details
  summary
    @extend .link
    // display: inline
    &::marker
      color: var(--fg-dim)
    &:active
      &::marker
        color: var(--fg)
    &:hover
      color: var(--fg)
      text-decoration: none
      &::marker
        @extend .fg
html.mobile details[open]
  border-bottom: 1px solid var(--bg-dim)