body
  @extend .fg, .bg, .mpz
  &.overlay
    header, nav, main, footer
      cursor: initial
header, nav, footer, #status, [aria-label="Pagination"]
  @extend .flex
main, header, footer, nav
  @extend .padding-layout
header
  align-items: center
html.mobile header
  // justify-content: flex-start
  flex-direction: column
  align-items: start
  // &:has(details[open])
  //   align-items: flex-start

// Top margin for anchor links
// Due to sticky navigation
\:target
  scroll-margin-top: $target-margin
  // scroll-snap-margin-top: $target-margin

aside
  display: flex
  gap: 1.2em
footer > div
  @extend .flex
  flex-direction: column
  gap: 0
blockquote, .blockquote, .api, .example, fieldset
  @extend .border, .bg, .border-radius
  margin: 1em 0.5em
  padding-inline: .7em
.api, .example, fieldset, #markdown-toc
  @extend .inline-block
.example
  display: table
  margin-top: 0
  border: none
  @extend .stripes
ul, ol
  margin-block: 1em
  padding-inline-start: 1.2em
  ul
    margin-block: 0.2em
    list-style-type: disc
  li::marker
    color: var(--dim)
fieldset
  vertical-align: top
  legend
    & + ul,
    & + ol
      margin-top: 0
  ul, ol
    &:last-child
      margin-bottom: 0
// TOC
#markdown-toc
  margin-block: 0.5em
  list-style: devanagari

// BOTTOMS
#bottom-left:not(:empty),
#bottom-right
  @extend .flex, .border-radius
  z-index: 100
  // transparentize accept colors without quotes
  background: transparentize($bg, .4)
  flex-direction: column
  position: fixed
  bottom: 0
  left: 0
  padding: 1em
#bottom-right:not(:empty)
  right: 0
  left: auto