a, .link
  @extend .pointer
  text-decoration: none
  color: var(--link)
  &:hover
    text-decoration: underline
  &:active
    color: var(--fg-dim)

// Table UI
table[data-limit][data-sort] tbody td
  @extend .pointer