progress
  border: 0
  display: block
  appearance: none

  // Default colors
  --bar-color: var(--bg-dim)
  --mark-color: var(--fg-dim)
  &.success
    --bar-color: var(--bg-green)
    --mark-color: var(--green)
  &.info
    --bar-color: var(--bg-cyan)
    --mark-color: var(--cyan)
  &.warning
    --bar-color: var(--bg-yellow)
    --mark-color: var(--yellow)
  &.error
    --bar-color: var(--bg-red)
    --mark-color: var(--red)

  // Stacked bars
  & + progress
    margin-top: .5em

  // Progress background
  // 1px grid, 9 lines
  &, &::-webkit-progress-bar
    @include background-lines-v(1px, 9, var(--bg-subtle), var(--bg))

  // Progress active bar
  &::-moz-progress-bar
    background-color: var(--bar-color)
    border-right: 2px solid var(--mark-color)

// Chrome
progress::-webkit-progress-value
  background-color: var(--bar-color)
  border-right: 2px solid var(--mark-color)