[role='marquee']
  @extend .flex
  @include mobile
    flex-direction: column
    gap: 0
  [aria-label]::before
    @extend .uppercase

[role="alert"]
  @extend .blockquote
  border-color: var(--red)

[aria-label]
  // @extend .flex
  // flex-direction: column
  // gap: 0
  // text-align: center
  // min-width: 5.5em
  // margin-block: .5em
  &::before
    content: attr(aria-label)
    margin-right: 0.3em
    // @extend .label

.behind.blink.pointer:hover
  ::before
    color: var(--fg)

#status div
  @extend .border-radius
  padding: 0 0 3px 5px
  &.debug
    background: var(--bg-yellow)
    &::before
      color: hwb(from oklch(from var(--bg-yellow) l 0 0) h calc(((b - 50) * 999)) calc(((w - 50) * 999)))
  &.ajax
    &::before
      color: var(--fg-green)