.icon
  // Pagination icons
  &[rel] svg
    width: 1em
    height: 1em
    transform: translateY(3px)
  // Aside icons
  svg
    fill: var(--fg-dim)
    margin-right: .5em
    width: auto
    height: 1.5em

// Settings icon
.icon-small
  svg
    fill: var(--fg)
    height: .9em
    margin: 0
  &[aria-current='page'] svg
    fill: var(--fg)