{%- assign api = nil -%}
{% if include.include %}
{%- assign include_file = include.include -%}
{%- assign extension = include_file | split: "." -%}
{%- if extension.size == 1 -%}{%- assign include_file = include_file | append: '.html' -%}{%- endif -%}
{%- capture include_content -%}{% include {{include_file}} %}{%- endcapture -%}
{% else %}
{%- assign include_file = 'widgets/api.html' -%}
{%- capture api -%}
### API
Capture, markdownify and render the liquid `api` variabile of an include file.

```liquid
{% raw %}{% include widgets/api.html include='folder/file' %}{% endraw %}
```

**Includes**

- `include`: target include file in the form `folder/file`.  
  Extension `.html` can be omitted.

**Format**
```liquid
...code...

{% raw %}{%- capture api -%}
Description

- Options
- Code Example
- Live example
{%- endcapture -%}{% endraw %}
```
{%- endcapture -%}
{% endif %}{% if api != nil %}
<div class="api" markdown=1>### {{ include.include | split: "/" | last | split: "." | first | capitalize }}
{{ api | mardowify }}

File: {% assign absolute_path = include_file | prepend: '_includes/' %}{% include widgets/github_link.html path=absolute_path %}
</div>{% endif %}