{% assign form = include.form | default: page.form %}{% if form == nil %}> Widget `input` missing `form` include.
{:role="alert"}{% else %}
<fieldset><legend>Title</legend>
<!-- FORM -->
<form class='{{ 'input prevent reset ' | append: include.class | strip }}' data-form='{{ form | jsonify }}' markdown=1>
<div class='panel'>
{%- for field in form -%}
{%- assign id = field | first -%}
{%- assign options = field | last -%}
{%- assign type = options.type -%}
{% capture class %}{% if options.required %} required {% endif %}{% if options.multiple %} multiple {% endif %}{% endcapture %}
{% if type %}<div data-input='{{ type }}' data-id='{{ id }}' class='{{ class | strip }}'>{% if type != 'hidden' %}<label for='{{ id }}'>{{ options.title | default: id | capitalize }}</label>{% endif %}{% assign field_url = 'widgets/input/' | append: type | append: '.html' %}{% include {{ field_url }} id=id options=options %}{% if options.description %}<span class='description'>{{ options.description | newline_to_br | markdownify | replace: 'p>','span>' }}</span>{% endif %}</div>
{% endif %}
{%- endfor -%}
  <!-- Buttons -->
  <div data-input="buttons">
    <label for='send-button'>Send</label>
    <div class='buttons-container'>
      <input type='submit' title='Save file' name='submit' value='SAVE'>
      <input type='reset' title='Reset form' name='reset' value='RESET'>
    </div>
  </div>
  <div data-input="message" role='status'>_data/<span></span></div>
</div>
<!-- End form -->
</form>
{% if form.file_extension.value == 'csv' %}
<!-- Table panel -->
<div class='panel' markdown='1'>
{% assign csv_url = form.file_name.value %}
{% include widgets/view.html csv=csv_url %}
```html
<table class='editable'>
<caption>caption</caption>
<thead><tr><th>Header</th></tr></thead>
<tbody><tr><td>Cell</td></tr></tbody>
<tfoot><tr><td>Footrow</td></tr></tfoot>
</table>
```
</div><!-- Close panel -->
{% endif %}
</fieldset><!-- Close fieldset -->
{% endif %}<!-- Close existence check -->
<!-- API -->
{%- capture api -%}
Render a form to create or edit a data file, or perform automatic functions.  
Fields and destination are passed with a data file or in the front matter.

- `include.class`{:.language-coffeescript}: class added to output element.
- `include.form`{:.language-coffeescript}: front-matter or data file, default to `page.form`{:.language-coffeescript}.
```liquid
{% raw %}{% include widgets/input.html form=page.form %}{% endraw %}
```
- `include.function`{:.language-coffeescript}: javascript function.
```liquid
{% raw %}{% include widgets/input.html function='a/b=c/d' %}{% endraw %}
```

**Forms schema**

- `file_name`:
- `file_extension`:
- `file_path`:
- `file_overwrite`:
- `file_append`:

{%- endcapture -%}