<time datetime='{{ include.datetime | default: site.time }}'{% if include.duration %} duration="{{ include.duration }}"{% endif %}{% if include.repetition %} repetition="{{ include.repetition }}"{% endif %}{% if include.style %} data-style="{{ include.style }}"{% endif %}>{% if include.text %}{{ include.text | markdownify | remove: '<p>' | remove: '</p>' }}&nbsp;{% endif %}<span></span></time>
{%- capture api -%}
Render a `<time>`{:.language-html} containing:
- `text`
- `<span>`{: .language-html} with relative time
- temporal classes accordingly: `past`, `future`, `today`, `tomorrow`
- add readable date as title

```liquid
{% raw %}{% include widgets/time.html datetime=site.time %}{% endraw %}
```

**Includes**

- `datetime`: reference instant, default to `site.time`
- `text`: text before relative time, optional
- `duration`: repeating event, ISO-8601 duration (P)eriod string, optional  
  `/^P(\d+Y)?(\d+M)?(\d+W)?(\d+D)?(T(\d+H)?(\d+M)?(\d+S)?)?$/`{:.language-js}
- `repetition`: number of repetitions of the duration period, optional
- `style`: can be `narrow` or `short`, default to `long`
{%- endcapture -%}