<a href='{% include widgets/links/github_url.html path=include.path %}' title='{% include widgets/links/github_url.html path=include.path %}'{% if include.class %} class='{{ include.class }}'{% endif %}>{{ include.text | default: include.path | default: site.github.repository_url }}</a>
{%- capture api -%}
Render a HTML link to a file in this GitHub repository given the file path.

```liquid
{% raw %}{% include widgets/links/github_link.html path='folder/file.ext' %}{% endraw %}
```

**Includes**

- `path`: required (path) path of the file on the repository.  
  Default to the repository URL.
- `text`: optional (string) text for the link, default to `path`.  
  With no path default to the repository URL.
{%- endcapture -%}