{%- assign branch = repo | map: 'default_branch' | first -%}
{%- if include.path -%}
{%- assign url = site.github.repository_url | append: '/blob/' | append: branch | append: '/' | append: include.path -%}
{{ url }}
{%- else -%}
{{ site.github.repository_url }}
{%- endif -%}
{%- capture api -%}
Render the GitHub URL of a file given a path.

```liquid
{% raw %}{% include widgets/links/github_url.html path='folder/file.ext' %}{% endraw %}
```

**Includes**

- `path`: path of the file on the repository.  
  Default to the repository URL.
{%- endcapture -%}